<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.emostatus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/emostatus"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="persistance.EmoStatus">
        <activity
            android:name="com.thesis.emostatus.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thesis.emostatus.TutorialActivity"
            android:icon="@drawable/icon_tutorial"
            android:label="@string/tuto_name">

        </activity>
        <activity
            android:name="com.thesis.emostatus.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:icon="@drawable/icon_user"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.thesis.emostatus.UserOptionsActivity"
            android:icon="@drawable/icon_user"
            android:parentActivityName="com.thesis.emostatus.UserListActivity">

        </activity>
        <activity
            android:name="com.thesis.emostatus.InformationActivity"
            android:label="@string/title_activity_information"
            android:icon="@drawable/icon_tutorial">
        </activity>
        <activity
            android:name=".MonitorInfoActivity"
            android:label="@string/title_activity_monitorInfo"
            android:icon="@drawable/icon_tutorial">
        </activity>
        <activity
            android:name=".AlertsInfoActivity"
            android:label="@string/title_activity_alertsInfo"
            android:icon="@drawable/icon_tutorial">
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:icon="@drawable/icon_help">
        </activity>
    </application>

</manifest>
